<h2>➕ Add Timetable</h2>

<form method="POST">
    {% csrf_token %}

    <label>Day</label><br>
    <select name="day" required>
        <option value="Mon">Monday</option>
        <option value="Tue">Tuesday</option>
        <option value="Wed">Wednesday</option>
        <option value="Thu">Thursday</option>
        <option value="Fri">Friday</option>
        <option value="Sat">Saturday</option>
    </select>
    <br><br>

    <label>Room</label><br>
    <input type="text" name="room" required>
    <br><br>

    <label>Start Time</label><br>
    <input type="time" name="start_time" required>
    <br><br>

    <label>End Time</label><br>
    <input type="time" name="end_time" required>
    <br><br>

    <label>Batch</label><br>
    <input type="text" name="batch" required>
    <br><br>

    <label>Teacher</label><br>
    <select name="teacher" required>
        {% for teacher in teachers %}
            <option value="{{ teacher.id }}">
                {{ teacher.username }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <label>Subject</label><br>
    <select name="subject" required>
        {% for subject in subjects %}
            <option value="{{ subject.id }}">
                {{ subject.name }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <label>Department</label><br>
    <select name="department" required>
        {% for dept in departments %}
            <option value="{{ dept.id }}">
                {{ dept.name }}
            </option>
        {% endfor %}
    </select>
    <br><br>

    <button type="submit">Save Timetable</button>
</form>